<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h1 id="smoosterblogexample">smooster blog example</h1>

<p>You can use this example to see how to build a blog feature in smooster.</p>

<h2 id="folderstructure">Folder structure</h2>

<ul>
<li>/html contains the project related files (html, css, js, images, &#8230;)</li>
</ul>

<h2 id="installation">Installation</h2>

<h3 id="clonegit">clone git</h3>

<pre><code>$ git clone git@bitbucket.org:smooster/smo-html-blog-example.git
</code></pre>

<p>or just download it via <a href="https://bitbucket.org/smooster/smo-html-blog-example/downloads">Downloads</a></p>

<h3 id="deploytosmooster">deploy to smooster</h3>

<p>Use the <a href="https://bitbucket.org/smooster/smooster">smooster CLI</a> to create your own demo in smooster.</p>

<p>replace SITE_ID with the site id of the site you created in smooster</p>

<pre><code>$ smooster setup SITE_ID
</code></pre>

<p>then deploy the example</p>

<pre><code>$ smooster deploy initial
</code></pre>

<p>this will create the media assets, templates and pages. But before you can check it, you need to make some further adjustments</p>

<ol>
<li>login to smooster CMS -&gt; select your new site</li>
<li>create a folder blog</li>
<li>move the blog article page to the blog folder &amp; edit the headline and save the page (to test with more blog articles create new pages in the blog folder with template &#8220;blog article&#8221; as often as you like)</li>
<li>click on edit folder &amp; copy the smooster ID below the input field</li>
<li>click more &amp; templates</li>
<li>select the blog overview template (index) -&gt; click on edit</li>
<li>activate the liquid feature &#8220;Activate template language Liquid for this subtemplate&#8221;</li>
<li>change the folder id in the template in line 34 {% for page in site.folders.[CHANGE_BLOG_FOLDER_ID_HERE].pages.without_index.order_by_date_desc limit:5 offset:0 %}
AND in line 68 <script type="text/x-jsrender" id="news_template" data-a-id="[CHANGE_BLOG_FOLDER_ID_HERE]"></li>
<li>save the template</li>
</ol>

<p>If you want to test the load more button, you&#8217;ll need at least 6 articles in the blog folder or change the blog article amount per page in the template AND in the blog_more.coffee script file</p>

<h2 id="usage">Usage</h2>

<p>Use the html/index.html as your first template file, if needed you can add more html files in /html.</p>

<h2 id="wishlist">Wishlist</h2>

<ul>
<li>None so far</li>
</ul>

<h2 id="changelog">Changelog</h2>

<h3 id="0.1.0">0.1.0</h3>

<ul>
<li>Basic folder and file structure</li>
</ul>

<h2 id="contributing">Contributing</h2>

<ol>
<li>Fork it ( https://bitbucket.org/smooster/smo-html-blog-example/fork )</li>
<li>Create your feature branch (<code>git checkout -b my-new-feature</code>)</li>
<li>Commit your changes (<code>git commit -am 'Add some feature'</code>)</li>
<li>Push to the branch (<code>git push origin my-new-feature</code>)</li>
<li>Create a new Pull Request</li>
</ol>

</body>
</html>
