<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
	<title>index</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="robots" content="index,follow">
	<link rel="canonical" href="">
	<link rel="preconnect" href="//code.smooster.com">
	<link rel="preconnect" href="//assets.smooster.me">

	<!--<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">-->

	<link href="media/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="http://code.smooster.com/libs/jquery.nivo.lightbox/1.2/themes/default/default.css" type="text/css">
	<link href="http://code.smooster.com/libs/jquery.nivo.lightbox/1.2/nivo-lightbox.css" rel="stylesheet">
	<!--[if lte IE 8]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="preload">
	<div id="wrapper">
	    <header>
	    </header>

			<main>
				<div class="inner blog">
		    	 <h2 data-mercury="simple" id="hd-blog3">smooster example Blog</h2>
				</div>

				<div id="blog_posts">
	         {% for page in site.folders.542a724a2777ac59d700001a.pages.without_index.order_by_date_desc limit:5 offset:0 %}
	         <article id="article_per_page_n_{{forloop.index}}" data-more-link="{{page.url}}"><h1><a href="{{page.url}}" data-id="{{page.id}}">{{page.content_elements.text_h2}}</a></h1>
	            <p class="date">{{page.content_elements.text_h5}}</p>
	           <div class="picture">
				    			{{page.content_elements.picture-blog1}}
							</div>

	            <div class="text">
	                        {{page.content_elements.text_a}}
	            </div>
						</article>
	         {% endfor %}

				</div>
			    	<div id="more-blog">
			    		<a href=""><img src="media/image/arrow-down-blog.png" alt=""></a>
			    	</div>
			</div>
			</main>
	    <footer>
	    </footer>
	</div>

	<script src="http://code.smooster.com/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script>
	<script src="http://code.smooster.com/libs/jquery-ui/1.10.3/js/jquery-ui.min.js" type="text/javascript"></script>


	<script src="http://code.smooster.com/libs/smo-jquery-api/0.1.1/smooster.js" type="text/javascript"></script>
	<script src="http://code.smooster.com/libs/hogan/3.0.2/hogan.min.js"></script>
	<script src="media/js/blog_more.js" type="text/javascript"></script>


	{% raw %}
  <script type="text/x-jsrender" id="news_template" data-a-id="542a724a2777ac59d700001a">
    	<article id="article_per_page_n_{{id}}" data-more-link="{{url}}">
      		<h1><a href="{{url}}" data-id="{{id}}">{{& headline}}</a></h1>
            <p class="date">{{& date}}</p>
           <div class="picture">
			    			{{& picture}}
			</div>

            <div class="text">
                {{& teaser}}
            </div>
		</article>
  </script>
  {% endraw %}

</body>
</html>
