.border-box-sizing() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.transition(@params: all 2s ease-in 0s) {
  transition: @params; /* explorer 10 */
  -webkit-transition: @params; /* chrome & safari */
  -moz-transition: @params; /* firefox */
  -o-transition: @params; /* opera */
}
